<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset="utf-8">
		<title>GitHub Followers API by Supanat.P</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>

	<body>


		<!-- Content -->
		<%- defineContent('hero') %>

		<div class="container">
			<%- body %>
		</div>


	</body>
</html>
